.todo-list-item {
    display: flex;
    align-items: center;
}
.todo-list-label {
    cursor: pointer;
}
.todo-list-item.important .todo-list-label {
    font-weight: bold;
    color: #28a745;
}
.todo-list-item.done .todo-list-label{
    text-decoration: line-through;
}

.btn-important {
    margin-left: auto;
    margin-right: 0.4rem;
}