.todo-list-item {
    display: flex;
    align-items: center;
}
.btn-important {
    margin-left: auto;
    margin-right: 0.4rem;
}
.todo-list-label {
    cursor: pointer;
}
.todo-list-item.done .todo-list-label {
    text-decoration: line-through;
} 

.todo-list-item.important .todo-list-label {
    font-weight: bold; 
    color: cadetblue;
}