.todo-list-item {
    display: flex;
    align-items: center;
}
.btn-important {
    margin-left: auto;
    margin-right: 0.4rem;
}
.todo-list-label {
    cursor: pointer;
}
.todo-list-label.done {
    text-decoration: line-through;
}